* {
  font-family: "Poppins";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
  background: #222831;
}

.btn-1 {
  display: flex;
  justify-content: center;
}
.btn-1 a {
  padding: 1rem 2rem;
  text-decoration: none;
  background: #070f2b;
  color: #fff;
  transition: 500ms all;
}

.btn-1 :hover {
  transform: scale(1.1);
  background: #d5cea3;
  color: #000;
}

.btn-2 a {
  padding: 1rem 2rem;
  text-decoration: none;
  background: #070f2b;
  color: #fff;
  transition: 600ms all;
}
.btn-2:hover {
  animation: name 500ms linear alternate infinite;
}
@keyframes name {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.btn-3 a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 1.8rem;
  background: #070f2b;
  text-decoration: none;
  color: #fff;
  border: 2px solid #070f2b;
  transition: 500ms all;
}

.btn-3 :hover {
  background: #d5cea3;
  border: 2px solid #070f2b;
  border-style: dashed;
  color: #000;
}

.btn-4 a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background: #070f2b;
  text-decoration: none;
  color: #fff;
  transition: 1s all;
}

.btn-4 a:hover {
  box-shadow: 0px 0px 105px 31px rgba(175, 64, 255, 1);
}
