* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.login {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 50%;
  background: #000;
  background-image: url("https://images.pexels.com/photos/3356416/pexels-photo-3356416.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    padding: 10px;
    border: 1px solid #c1c3c3;
    width: 50%;
}

